<article class="saveds">
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>
  <% unless @saved.line_items.empty? %>
  <h2>Saved Jobs</h2>
  <table>
    <tbody>
    <% @saved.line_items.uniq{|item| item.job_id }.each do |item| %>
      <tr>
        <td><%= item.job.title %></td>
        <td class="salary"><%= number_to_currency(item.job.salary) %>/<%= item.job.salary_type %></td>
      <tr>
    <% end %>
    </tbody>
    <tfoot>
      <p>You have <%= @saved.line_items.length %> saved jobs</p>
    </tfoot>
  </table>
  <%= button_to 'Empty', @saved, method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end %>
</article>
