<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @line_item.job_id %>
</p>

<p>
  <strong>Saved:</strong>
  <%= @line_item.saved_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
